<html>
    <body>
        <br><br>
        <%= callMeAnything.title %><hr><br><br>
        <%= callMeAnything.speakers[0].name %><hr><br><br>
        <%= callMeAnything.description %>
    </body>
</html>