<html>
    <body>
        <br><br>
        <%= singleSession.title %><hr><br><br>
        <%= singleSession.speaker.name %><hr><br><br>
        Speaker Bio: <%= singleSession.speaker.bio %><hr><br><br>
        <%= singleSession.description %>
    </body>
</html>